.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  min-height: 100vh;
  margin: 0;
}

.title {
  position: relative;
  margin: 0;
  padding-bottom: 0.25em;
  border-bottom: 0.0625em solid;
  font-family: "Fira Code";
  font-weight: unset;
  color: var(--palette-text);
}
.title:after {
  position: absolute;
  right: 0;
  content: "=>";
}

.footer {
  display: flex;
  justify-content: center;
}

.link {
  font-family: "Fira Code";
  font-weight: unset;
  color: var(--palette-text);
  text-decoration: underline;
  transition: color 250ms ease;
}
.link:hover {
  color: var(--palette-text-hover);
}
